* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Hbox {
  width: 100%;
  height: 80px;
  background: #F7F6F1;
}
.Hbox nav {
  width: 1280px;
  height: 80px;
  margin: 0 auto;
}
.Hbox nav ul {
  width: 1280px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.Hbox nav ul li {
  float: left;
  position: relative;
  top: 25px;
  text-align: center;
  font-size: 15px;
  font-style: 宋体;
}
.Hbox nav ul li:hover {
  cursor: pointer;
  color: #4AA4AD;
}
.Hli {
  color: #4AA4AD;
}
